<div class="jumbo">
    <div class="right mountain"></div>
    <h2>About Super Rentals</h2>
    <p>
        Colorado Fourteeners is your go-to resource for all things related to hiking 14,000' mountains in Colorado.
    </p>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</div>