<div class="jumbo">
    <div class="right mountain"></div>
    <h2>Contact Us</h2>
    <p>
        Colorado Fourteeners Representatives would love to help you<br>
        choose a hike or answer any questions you may have.
    </p>
    <address>
        Colorado Fourteeners HQ
        <p>
            5089 Pikes Peak Hwy<br>
            Cascade, CO 80809
        </p>
        <a href="tel:503.555.1212">+1 (719) 385-7325</a><br>
        <a href="mailto:matt@coloradofourteeners.com">matt@coloradofourteeners.com</a>
    </address>
    <LinkTo @route="about" class="button">About</LinkTo>
</div>